<div class="create-issue container">
    <form hx-post="/issues" hx-trigger="submit" hx-swap="none" class="mt-4">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="One-line summary of the problem..."
                class="form-control"
                required
                minlength="4"
                maxlength="256"
                size="10"
            />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input
                type="text"
                id="description"
                name="description"
                placeholder="Issue description..."
                class="form-control"
                required
                minlength="10"
                maxlength="256"
                size="10"
            />
        </div>
        <hx-trigger
            hidden
            hx-target="#issue-list-container"
            hx-trigger="server:refresh-issue-list"
        ></hx-trigger>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
