<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        {{template "header.html"}}
    </head>
    <body>
        <!-- Main -->
        <main class="container">
            <!-- Issue Creation -->
            <section id="issues">
                <h2>Issues</h2>
                {{template "create-issue.html"}}
            </section>
            <!-- ./ Issue Creation -->
            <!-- Issue List -->
            <section id="issues">
                <h2>Issues</h2>
                <button
                    hx-get="/issues"
                    hx-target="#issues-container"
                    class="btn btn-primary"
                >
                    List Issues
                </button>
                <div id="issues-container"></div>
            </section>
            <!-- ./ Issue List -->
        </main>
        <!-- ./ Main -->
        {{template "footer.html"}}
    </body>
</html>
