<!DOCTYPE html>
<html lang="en">
{{ template "header" .}}

<body>
    <!-- Main -->
    <main class="container">

        <!-- Issue Creation -->
        <section id="preview">
            <h2>Issue Creation</h2>
            <p>
                Use the following form to create issues
            </p>
            {{ template "create-issue" . }}
        </section>
        <!-- ./ Issue Creation -->

        <!-- Issue List -->
        <section id="typography">
            <h2>Issues</h2>
            {{ template "issues" . }}
        </section>
        <!-- ./ Issue List -->

    </main>
    <!-- ./ Main -->

    <!-- Minimal theme switcher -->
    <script src="static/js/minimal-theme-switcher.js"></script>
</body>

</html>
