<!DOCTYPE html>
<html lang="en">
{{ template "header" .}}

<body>
    <!-- Main -->
    <main class="container">

        <!-- Issue List -->
        <section id="issues">
            <h2>Issues</h2>
            <div id="issue-list" hx-get="/api/v1/issue" hx-trigger="htmx:afterSwap on #issue-form" hx-swap="beforeend">
                <!-- Issues appended here -->
            </div>
        </section>
        <!-- ./ Issue List -->

    </main>
    <!-- ./ Main -->

    <!-- Minimal theme switcher -->
    <script src="static/js/minimal-theme-switcher.js"></script>
</body>

</html>
